fieldset {
  border: 1px solid #ddd !important;
  margin: 0;
  xmin-width: 0;
  padding: 10px;
  position: relative;
  border-radius: 4px;
  background-color: #f5f5f5;
  padding-left: 10px !important;
}

legend {
  font-size: 12px;
  margin-bottom: 0px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px 5px 5px 10px;
  background-color: #ffffff;
}

.bg-black {
  background-color: rgba(20, 80, 250, 0.7) !important;
}

.bg-black a {
  color: rgba(250, 250, 250, 0.9) !important;
}

.alert-bottom {
  position: fixed;
  left: 2px !important;
  bottom: 3px !important;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

